<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/lib/bootstrap/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <ul> @Html.ActionLink("Home", "Index")</ul>
            <ul> @Html.ActionLink("Albums", "Album")</ul>
            <ul> @Html.ActionLink("Books", "Book")</ul>
            <ul> @Html.ActionLink("Games", "Game")</ul>
        </nav>
    </header>
        <div>
            @RenderBody()
        </div>
        <script src="~/lib/jquery/jquery.js"></script>
</body>
</html>
